.bg-main-purple {
    background: linear-gradient(to right, #160033, #271343);
    color: white;
}

.bg-card-purple {
    background-color: #8044FF;
    color: white;
}

.bg-light-purple {
    background-color: #CECDFF;
    color: #160033;
}

.text-accent {
    color: #00CDFF;
}

.text-secondary {
    color: #CECDFF;
}

.button-blue {
    background-color: #00CDFF;
    color: white;
    border: none;
}

.button-purple {
    background: linear-gradient(to left, #0A43CC, #6A78F0);
    color: white;
    border: none;
    cursor: pointer;
}

.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.champ-semibold {
    font-family: 'Champ', sans-serif;
    font-weight: 600;
}

.champ-bold {
    font-family: 'Champ', sans-serif;
    font-weight: 700;
}

.champ-light {
    font-family: 'Champ', sans-serif;
    font-weight: 300;
}

/* Movil */
.gradient-custom {
    background: linear-gradient(to right, #9333ea, #3b82f6);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 405px;
    justify-content: center;
}

/* PC */
.gradient-customs {
    background: linear-gradient(to right, #9333ea, #3b82f6);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* UpColors */
.gradient-section {
    background: linear-gradient(to right, #0A43CC, #6A78F0);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* Prismatic */
.gradient-section-2 {
    background: linear-gradient(to right, #6F13E0, #AB4FD5);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* Fundamentals */
.gradient-section-3 {
    background: linear-gradient(to right, #7DE8C1, #29D6EC);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* Abroad */
.gradient-section-4 {
    background: linear-gradient(to left, #D687B0, #F31A4F);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* Explorers */
.gradient-section-5 {
    background: linear-gradient(to right, #F9CB6B, #FFA41E, #BE8F6C);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

/* Kids */
.gradient-section-6 {
    background: linear-gradient(to left, #181F8E, #2437C6, #3E50F8);
    color: white;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

.bg-icons {
    color: #FFFFFF;
}

.hover-text-zinc-200:hover {
    color: #e4e4e7;
}

/* Section-Inicio */
body {
    font-family: Arial, sans-serif;
    background-color: #2a0d51;
    color: #fff;
}

.hero-section {
    text-align: center;
    padding: 60px 0;
    color: #fff;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.2rem;
}

.course-section {
    background: #0c0433;
    padding: 40px;
    height: 1390px;
}

.plan-section {
    background: #FFFFFF;
    padding: 40px;
    height: 940px;
}

.faq-section {
    background: linear-gradient(to right, #0C0433, #35217C);
    padding: 40px;
    height: 990px;
}

.newsletter-section {
    position: relative;
    background: #04011D;
    padding: 40px 0;
    height: 300px;
}

.card {
    background-color: transparent;
    color: #fff;
    border: none;
}

.btn-custom {
    background: linear-gradient(to right, #FF688C, #FF9E5D);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}

.btn-custom_2 {
    background: #6D6AFB;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}

.faq-question {
    background: linear-gradient(to right, #0C0433, #35217C);
    color: #ffffff;
    cursor: pointer;
    box-shadow: none;
}

.accordion-button {
    justify-content: space-between;
    align-items: center;
}

/* Ocultar la flecha predeterminada de Bootstrap */
.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button::after {
    display: none;
}

/*Icono de acordion personalizado*/
.accordion-button .fas {
    color: #ffffff;
    transition: transform 0.3s;
}

/* Gira el icono cuando est치 expandido */
.accordion-button:not(.collapsed) .fas {
    transform: rotate(180deg);
}

.accordion-body {
    background: linear-gradient(to right, #0C0433, #35217C);
}

.banner-container {
    background: linear-gradient(to right, #9333ea, #3b82f6);
    color: white;
    z-index: 999;
    position: absolute;
    padding: 3rem;
    height: 365px;
    display: flex;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    overflow: hidden;
    position: relative;
}

.banner-container::before {
    content: "";
    z-index: -999px;
    position: absolute;
    top: 0%;
    left: 35%;
    right: 0;
    border-radius: 0px 0px 105px 105px;
    height: 155px;
    width: 300px;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.banner-text h1 {
    width: 225px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.banner-text p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.banner-image {
    background-color: transparent;
    width: 40%;
    display: flex;
    justify-content: center;
}

.banner-image img {
    max-width: 100%;
    border: none;
    height: 100%;
}

@media (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .banner-image {
        width: 100%;
        margin-top: 1.5rem;
    }

    .banner-text h1 {
        font-size: 2rem;
    }
}

.center {
    display: grid;
    place-items: center;
    height: 100vh;
}

#circle {
    position: relative;
    font-size: 25px;
    overflow: hidden;
}

#circle span {
    margin-top: -95px;
    margin-left: 0px;
    position: absolute;
    height: 95px;
    width: 50px;
    text-align: center;
    transform-origin: bottom center;
    display: inline-block;
}

#circle:hover span {
    animation: animate__heartBeat 1s infinite;
}

#circle:hover i {
    animation: animate__pulse 1s infinite;
}

/* Get ready */
.gradient-section-7 {
    text-emphasis-color: linear-gradient(to left, #47B2FF, #FDFEFF, #F98D89);
    ;
    padding: 1.5rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 705px;
    justify-content: center;
}

.card-custom {
    position: relative;
    top: -730px;
    left: 50px;
    border-radius: 10px;
    height: 270px;
    width: 585px;
    background-color: #34165b8a;
}


.card-custom_2 {
    position: relative;
    top: -535px;
    left: 110px;
    border-radius: 10px;
    height: 270px;
    width: 625px;
    background-color: transparent;
}

.card-custom_3 {
    position: relative;
    top: -535px;
    left: 110px;
    border-radius: 85px;
    height: 275px;
    width: 110px;
    background-color: #5EE2D2;
}

.card-custom_4 {
    position: relative;
    top: -535px;
    left: 110px;
    border-radius: 85px;
    height: 275px;
    width: 110px;
    background-color: #5D89FD;
}

.card-custom_5 {
    position: relative;
    top: -535px;
    left: 110px;
    border-radius: 85px;
    height: 275px;
    width: 110px;
    background-color: #FF706E;
}


.card-course_1 {
    position: relative;
    border-radius: 10px;
    top: -535px;
    left: 110px;
    height: 384px;
    width: 220px;
    background-color: transparent;
    overflow: hidden;
}

.card-course_2 {
    position: relative;
    border-radius: 10px;
    top: -535px;
    left: 110px;
    height: 384px;
    width: 220px;
    background-color: transparent;
    overflow: hidden;
}

.card-course_3 {
    position: relative;
    border-radius: 10px;
    top: -535px;
    left: 110px;
    height: 384px;
    width: 220px;
    background-color: transparent;
    overflow: hidden;
}

.card-course_4 {
    position: relative;
    border-radius: 10px;
    top: -535px;
    left: 110px;
    height: 384px;
    width: 220px;
    background-color: transparent;
    overflow: hidden;
}

.course_coming {
    position: relative;
    top: -650px;
    left: 110px;
    border-radius: 10px;
    height: 150px;
    width: 1200px;
    background: linear-gradient(135deg, #FF6B6D, #FF8272);
}

.btn-coming {
    height: 45px !important;
    width: 318px !important;
    margin-top: 50px;
    background: linear-gradient(to right, #FFB73F, #FFD476);
    color: white;
    padding: 10px 20px;
    border-radius: 45px;
}

.btn-email {
    background: linear-gradient(to right, #FF5267, #FE726E);
    border: none;
    border-radius: 85px;
    height: 55px;
    width: 55px;
    color: #04011D !important;
    padding: 10px 20px;
    border-radius: 40px;
}

.btn-cliked {
    background: linear-gradient(to right, #30D8E7, #5CE1D2);
    border: none;
    border-radius: 85px;
    height: 55px;
    width: 55px;
    color: #04011D;
    padding: 10px 20px;
    border-radius: 40px;
}

.icon-clicked {
    display: none;
}

.custom-input::placeholder {
    color: #ffffff;
    opacity: 1;
    border: none;
    outline: none;
    font-size: 12px;
}

.color_title {
    color: linear-gradient(to right, #30D8E7, #5CE1D2);
}

/* Section-Cursos */
.main {
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.hero-section-cursos {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.description {
    position: relative;
    z-index: 999px;
    font-size: 9px !important;
    max-width: 210px;
    margin: auto;
}

.btn-primary {
    background-color: #302951 !important;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 45px;
    height: 40px;
    width: 172px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #ffffff !important;
    text-align: center;
}

.course-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    transform: translateY(15px);
}

.info-item {
    background-color: #605A74;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.other-courses {
    text-align: center;
    margin-top: 3rem;
}

.courses-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.course-card {
    background-color: transparent;
    padding: 2rem 1rem;
    border-radius: 20px;
    width: 157px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.test-section {
    text-align: center;
    margin-top: 3rem;
    background-image: url("/imagenes/Section test.png");
    height: 100%;
    width: 100%;
    top: 0px;
    padding: 0px;
}

.rules {
    list-style-type: none;
    padding: 0;
}

.rules li {
    color: #ccc;
}

.button-secondary {
    background-color: #ff6347;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.expect-section {
    text-align: center;
    margin-top: -25px;
    height: 700px;
    width: 100%;
}

.expect-item {
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

/* Carrusel */
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 60%;
    margin: auto;
}

.carousel-control {
    border-radius: 85px;
    border: 2px solid #ffffff !important;
    height: 55px;
    width: 55px;
    background: transparent !important;
    margin-top: 230px;
    margin-left: 9rem;
    margin-right: 9rem;
}

.btn-test {
    background: linear-gradient(to right, #FF5267, #FE726E);
    border: none;
    border-radius: 85px;
    height: 4px;
    width: 350px;
    color: #ffffff !important;
    border-radius: 40px;
}

/* Section Checkout*/
/* Estilo por defecto */
.option-container {
    margin-top: -16px;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 35px;
    border-radius: 9rem;
    width: 395px;
    height: 75px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transform: translateX(-25px);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Estilo cuando est치 seleccionado */
.option-container.selected {
    background-color: #4c33a5;
    border: 2px solid #6774fb;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.option-container .toggle-image {
    transition: all 0.3s ease;
}

.btn-accept {
    background: linear-gradient(to left, #5c89fd, #7e49f7);
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 45px;
    border: none;
    height: 60px;
    width: 242px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 1022px;
    text-align: center;
}

.btn-accept-md {
    background: linear-gradient(to left, #5c89fd, #7e49f7);
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 45px;
    border: none;
    height: 60px;
    width: 242px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 876px;
    text-align: center;
}

/*Inputs*/
.placeholder-white::placeholder {
    color: white;
    font-size: 16px;
    text-indent: 10px;
}

.not-focus:focus {
    box-shadow: none;
}


/* Section-Blogs */

.card {
    margin-left: 10px;
    background: #351C76 !important;
    border-radius: 10px;
    width: 420px;
    height: 720px;
}

.card-up {
    margin-left: 100px;
    background: transparent !important;
    border-radius: 10px;
    width: 469px;
    height: 272px;
}

.card-medium {
    margin-left: 100px;
    background: transparent !important;
    border-radius: 10px;
    width: 469px;
    height: 272px;
}

.card-down {
    margin-left: 100px;
    background: transparent !important;
    border-radius: 10px;
    width: 469px;
    height: 272px;
}

.no-focus:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

textarea:focus+label {
    display: none;
}

.title {
    margin-top: 10px;
    font-size: 30px;
    width: 350px;
    height: 200px;
    margin-left: 245px;
    color: #7974F5 !important;
}

.descrption {
    margin-top: -85px;
    font-size: 15px;
    width: 350px;
    height: 200px;
    margin-left: 245px;
    color: #ffffff !important;
}

.btn-primary-learning {
    background-color: #6d68fa !important;
    color: #ffffff;
    border-radius: 45px;
    height: 70px;
    width: 303px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 85px;
    border: none;
    text-align: center;
}

.btn-primary-learning-2 {
    background-color: #6d68fa !important;
    color: #ffffff;
    border-radius: 45px;
    height: 50px;
    width: 273px;
    font-size: 22px;
    cursor: pointer;
    margin-top: -4px;
    border: none;
    text-align: center;
}

.image-item-1 {
    position: relative;
    z-index: 1;
    height: 50px;
    width: 714px;
    margin-top: 310px;
    margin-left: -150px;
}

.image-item-2 {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 714px;
    margin-top: 15px;
    margin-left: -310px;
}

.image-item-3 {
    position: relative;
    z-index: 3;
    height: 50px;
    width: 714px;
    margin-top: 80px;
    margin-left: -250px;
}

.bubble {
    height: 80px;
    width: 165px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(135deg, #6a1b9a, #8e24aa);
    /* Fondo gradiente */
    color: white;
    border-radius: 50px;
    /* Bordes redondeados */
    /* padding: 10px; */
    border: 3px solid transparent;
    /* Espacio para el borde */
    /* background-origin: border-box;
    background-clip: padding-box, border-box; */
    box-shadow: none !important;
    /* Sombra */
    margin-bottom: 15px;
    /* Separaci칩n entre burbujas */
}

/* Section-Nosotros*/

.p-reference {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.gradient-text {
    background: linear-gradient(to left, #ff8272, #f95869);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

.card-font {
    background: linear-gradient(to left, #33155b, #2b1a6a);
    border: 1px #67519d solid;
    border-radius: 20px;
    padding: 25px;
}

.card-font-2 {
    background: linear-gradient(to left, #33155b, #2b1a6a);
    border: 1px #67519d solid;
    border-radius: 20px;
    padding: 20px;
}

.img-font {
    position: relative;
    z-index: -5px;
}

.img-font-form {
    background-image: url(/./imagenes/font-final-section-nosotros.png);
    height: '100%';
    width: '100%';
}

.btn-primary-final-section {
    background: linear-gradient(to left, #FEB944, #FFD67A);
    border: none;
    border-radius: 45px;
    margin-top: -15px;
    margin-right: 18px;
    height: 60px;
    width: 635px;
    box-shadow: none !important;
    cursor: none;
}

.form-control-final-section {
    border: none;
    outline: none;/* no m치s contorno*/
    border-radius: 45px;
    background: #6A6391;

}

.form-control-final-section::placeholder {
    color: white;
    text-align: center;
}

.text-with-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#chatbot-container {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 600px; 
    height: 600px;
    background: #351c76;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden; 
}

#chatbot-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.img-fluid {
    cursor: pointer;
    /* Indicador de clic */
}

/* Scroll Button*/

#back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: opacity  0.3s ease;
}

#back-top:hover {
    background-color: #0056b3;
}

.scroll-btn-visible {
    display: block;
}